<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <title>Admin panel</title>

</head>

<body>

<!-- PAGE HEADER: [username] with roles: [roles list] logout -->
<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-brand">
        <span id="userInfo"></span> <!-- JS -->
    </div>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<!-- BODY OF PAGE 2 PANELS -->
<div class="container-fluid" style="max-height: 100%; height: 100vh; background-color: #f8f9fa">
    <div class="row">

        <!-- SIDE PANEL -->
        <div class="p-0 col-2"
             style="width: 25vh; max-width: 25vh; max-height: 100%; height: 100vh; background-color: white">
            <div class="nav flex-column nav-pills pt-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" th:href="@{/admin}" sec:authorize="hasAuthority('ROLE_ADMIN')"
                   role="tab" aria-controls="v-pills-home" aria-selected="true">Admin</a>

                <a class="nav-link" th:href="@{/user}"
                   sec:authorize="hasAnyAuthority('ROLE_ADMIIN', 'ROLE_USER')" role="tab"
                   aria-controls="v-pills-profile" aria-selected="false">User</a>
            </div>
        </div>

        <!-- ADMIN PANEL -->
        <main role="main" class="pt-3 pl-4 col-10 main-content" style="background: #f8f9fa">
            <h1>Admin panel</h1>

            <!-- TABS LIST -->
            <ul class="nav nav-tabs mt-3">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#UsersTable" id="userTableTab">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#NewUser" id="newUserTab">New User</a>
                </li>
            </ul>

            <div class="tab-content">

                <!-- USER INFO TAB -->
                <div class="tab-pane fade show active" id="UsersTable">
                    <div class="card table-responsive">
                        <h5 class="card-header">All users</h5>
                        <div class="card-body">

                            <table class="table table-striped">
                                <!-- TABLE USERS HEADER -->
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Age</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <!-- TABLE USERS BODY -->
                                <tbody id="users"></tbody>

                            </table>
                        </div>
                    </div>
                </div>

                <!-- NEW USER TAB -->
                <div class="tab-pane fade show" id="NewUser">
                    <div class="card">
                        <h5 class="card-header">Add new user</h5>
                        <div class="card-body text-center">

                            <form id="formNewUser" name="formNewUser">

                                <label class="font-weight-bold mb-0" for="newUsername" >First name </label>
                                <input type="text"
                                       minlength="2"
                                       maxlength="15"
                                       style="height: 30px; width: 300px; margin: 0 auto"
                                       class="form-control"
                                       name="username"
                                       id="newUsername"
                                       placeholder="First name"
                                       required />
                                <br>

                                <label class="font-weight-bold mb-0" for="newSurname" >Last name </label>
                                <input type="text"
                                       minlength="2"
                                       maxlength="15"
                                       style="height: 30px; width: 300px; margin: 0 auto"
                                       class="form-control"
                                       name="surname"
                                       id="newSurname"
                                       placeholder="Last name"
                                       required />
                                <br>

                                <label class="font-weight-bold mb-0" for="newAge" >Age </label>
                                <input type="number"
                                       minlength="1"
                                       maxlength="3"
                                       step="1" min="0" required
                                       style="height: 30px; width: 300px; margin: 0 auto"
                                       class="form-control"
                                       name="age"
                                       id="newAge"
                                       placeholder="Age"/>
                                <br>

                                <label class="font-weight-bold mb-0" for="newEmail" >Email </label>
                                <input class="form-control"
                                       type="email"
                                       id="newEmail"
                                       style="height: 30px; width: 300px; margin: 0 auto"
                                       placeholder="Email"/>
                                <br>

                                <label class="font-weight-bold mb-0" for="newPassword">Password </label>
                                <input class="form-control"
                                       type="password"
                                       required
                                       minlength="3"
                                       maxlength="15"
                                       id="newPassword"
                                       style="height: 30px; width: 300px; margin: 0 auto"
                                       placeholder="Password"/>
                                <br>

                                <label class="font-weight-bold mb-0" for="newRoles">Role </label>
                                <select size="2"
                                        style="height: 50px; width: 300px; margin: 0 auto"
                                        id="newRoles"
                                        class="form-control"
                                        name="roles"
                                        multiple required>
                                </select>
                                <br>

                                <div>
                                    <button type="submit" class="btn btn-success btn-lg">Add new user</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </main>

    </div>
</div>


<!-- MODAL WINDOW EDIT -->
<div class="modal fade"
     id="editUserModalWindow"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true"
     tabindex="-1"
     role="dialog">
    <div class="modal-dialog" role="document">

        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Edit user</h5>
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form id="editFormInModalWindow">
                <div class="modal-body col-md text-center">

                    <label for="editId"
                           class="font-weight-bold">ID<input
                            class="form-control"
                            type="text"
                            id="editId"
                            disabled></label>
                    <br>

                    <label for="editUsername" class="font-weight-bold">
                        First Name
                        <input class="form-control"
                               type="text"
                               name="username"
                               id="editUsername"
                               required minlength="2" maxlength="15">
                    </label>
                    <br>

                    <label for="editSurname" class="font-weight-bold">
                        Last Name
                        <input class="form-control"
                               type="text"
                               name="surname"
                               id="editSurname"
                               required minlength="2" maxlength="15">
                    </label>
                    <br>

                    <label for="editAge" class="font-weight-bold">
                        Age
                        <input class="form-control"
                               type="number"
                               name="age"
                               id="editAge"
                               required minlength="1" maxlength="3">
                    </label>
                    <br>

                    <label for="editEmail" class="font-weight-bold">
                        Email
                        <input class="form-control"
                               type="email"
                               name="email"
                               id="editEmail"
                               required minlength="1" maxlength="3">
                    </label>
                    <br>

                    <label for="editPassword" class="font-weight-bold">Password
                        <input class="form-control"
                               type="password"
                               name="password"
                               id="editPassword"
                               required minlength="3" maxlength="15"></label>
                    <br>

                    <label for="rolesEditUser" class="font-weight-bold">Role</label>
                    <select class="form-control form-control-sm"
                            name="roles" id="rolesEditUser" multiple
                            style="height: 50px; width: 200px; margin: 0 auto" required>
                    </select>
                    <div class="font-weight-light" style="font-size: 12pt">Please select at least one role</div>
                    <br>


                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal"
                            id="editClose">
                        Close
                    </button>
                    <button type="button"
                            data-dismiss="modal"
                            class="btn btn-primary"
                            id="editButton"
                            onclick="editUserButtonInModalWindow();">
                        Edit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- MODAL WINDOW DELETE -->
<div class="modal fade"
     id="deleteUserModalWindow"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true"
     tabindex="-1"
     role="dialog">
    <div class="modal-dialog" role="document">

        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Edit user</h5>
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form>
                <div class="modal-body col-md text-center">

                    <label for="deleteId"
                           class="font-weight-bold">ID<input
                            class="form-control"
                            type="text"
                            id="deleteId"
                            disabled></label>
                    <br>

                    <label for="deleteUsername" class="font-weight-bold">
                        First Name
                        <input class="form-control"
                               type="text"
                               name="username"
                               id="deleteUsername"
                               required minlength="2" maxlength="15" disabled>
                    </label>
                    <br>

                    <label for="deleteSurname" class="font-weight-bold">
                        Last Name
                        <input class="form-control"
                               type="text"
                               name="surname"
                               id="deleteSurname"
                               required minlength="2" maxlength="15" disabled>
                    </label>
                    <br>

                    <label for="deleteAge" class="font-weight-bold">
                        Age
                        <input class="form-control"
                               type="number"
                               name="age"
                               id="deleteAge"
                               required minlength="1" maxlength="3" disabled>
                    </label>
                    <br>

                    <label for="deleteEmail" class="font-weight-bold">
                        Email
                        <input class="form-control"
                               type="email"
                               name="email"
                               id="deleteEmail"
                               required minlength="1" maxlength="3" disabled>
                    </label>
                    <br>

                    <label for="deletePassword" class="font-weight-bold">Password
                        <input class="form-control"
                               type="password"
                               name="password"
                               id="deletePassword"
                               required minlength="3" maxlength="15" disabled></label>
                    <br>

                    <label for="rolesDeleteUser" class="font-weight-bold">Role</label>
                    <select class="form-control form-control-sm"
                            name="roles" id="rolesDeleteUser" multiple
                            style="height: 50px; width: 200px; margin: 0 auto" disabled>
                    </select>
                    <br>


                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal"
                            id="deleteClose">
                        Close
                    </button>
                    <button type="button"
                            class="btn btn-danger"
                            data-dismiss="modal"
                            id="deleteBtn" onclick="deleteUserButtonInModalWindow();">
                        Delete
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<script src="../static/header.js"></script>
<script src="../static/admin.js"></script>

</body>


</html>