<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/edit/{id}(id=${user.getId()})}" th:object="${user}">
    <div>

        <h1> Edit user </h1>

        <div>
            <label>Enter name </label>
            <div>
                <label>
                    <input type="text" th:field="*{username}" required minlength="2" maxlength="15"/>
                </label>
            </div>
        </div>


        <div>
            <label>Enter last name </label>
            <div>
                <label>
                    <input type="text" th:field="*{surname}" required minlength="2" maxlength="15"/>
                </label>
            </div>
        </div>

        <div>
            <label>Enter password </label>
            <div>
                <label>
                    <input type="password" th:field="*{password}" required minlength="3" maxlength="15"/>
                </label>
            </div>
        </div>

        <div>
            <label>Enter email </label>
            <div>
                <label>
                    <input type="email" th:field="*{email}"/>
                </label>
            </div>
        </div>


        <div>
            <label>Roles: </label>
            <div>
                <th:block th:each="role: ${listRoles}">
                    <input type="checkbox" th:field="*{roles}"
                           th:text="${role.name}" th:value="${role.id}"/>
                </th:block>
            </div>
        </div>

        <div>
            <button type="submit"> Update User </button>
        </div>

    </div>
    <a th:href="@{/logout}"> Logout </a>
</form>
</body>
</html>