<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>

<h1> User information-page </h1>
<div>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${user.getId()}"/>
            <td th:text="${user.getUsername()}"/>
            <td th:text="${user.getSurname()}"/>
            <td th:text="${user.getEmail()}"/>
        </tr>
        </tbody>
    </table>
</div>

<hr/>
<br/>

<a th:href="@{/logout}"> Logout </a>

</body>
</html>